.App {
  text-align: center;
  background: linear-gradient(
    45deg,
    rgb(18, 194, 233),
    rgb(163, 128, 243),
    rgb(247, 129, 137)
  );
  min-height: 100vh;
  cursor: none;
  overflow: hidden;
}

.App .img {
  position: absolute;
  pointer-events: none;
}
.App #cake {
  top: 45%;
  left: 10%;
}

.App .hidden {
  display: none;
}

.back {
  z-index: 0;
}

.middle {
  z-index: 1;
}

.front {
  z-index: 999;
}
